
@{
    ViewData["Title"] = "Menus";
}
@model List<CheeseMVC.Models.Menu>
@using CheeseMVC.Models;

@*@Model.Count*@

<h2>Menus</h2>


<ul>
    @foreach (var item in Model)
    {
        <li><a asp-controller="Menu" asp-action="ViewMenu" asp-route-id="@item.ID">@item.Name</a></li>
    }
</ul>

<p><a asp-controller="Menu" asp-action="Add">Add Menu</a></p>
